@page "{id:int}"
@model CompanyEventClient.Pages.EditClientModel
@{
	ViewData["Title"] = "Edit Client";
}


<h2>Edit Client</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Client.Empresa"></label>
        <input asp-for="Client.Empresa" class="form-control" />
        <span asp-validation-for="Client.Empresa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client.NameCEO"></label>
        <input asp-for="Client.NameCEO" class="form-control" />
        <span asp-validation-for="Client.NameCEO" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client.SurnameCEO"></label>
        <input asp-for="Client.SurnameCEO" class="form-control" />
        <span asp-validation-for="Client.SurnameCEO" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client.Email"></label>
        <input asp-for="Client.Email" type="email" class="form-control" />
        <span asp-validation-for="Client.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client.NombreAssistents"></label>
        <input asp-for="Client.NombreAssistents" type="number" class="form-control" />
        <span asp-validation-for="Client.NombreAssistents" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Client.Id" />

    <button type="submit" class="btn btn-primary">Desar</button>
    <a asp-page="/Index" class="btn btn-secondary">Cancel·la</a>
</form>